<div class=form>
  <h1>Your To-Do List:</h1>

  <input type="text" placeholder="Search" [(ngModel)]="term">
  <div class="congrats" *ngIf="toDoList?.length==0">Congrats! You finished your list!</div>
  <tr *ngFor="let item of toDoList|filter:term;">


    <div [ngClass]="item.completed? 'completed':'stillOpen' ">
      <p>
        <span *ngIf="item.completed == false"> <input type="checkbox" [checked]="item.completed"
            (change)="item.completed =! item.completed"> </span>

        {{item.task}}

        <span>
          <button (click)="edit(item)">Edit</button>
          <button (click)="removeTask(item)">X</button>

        </span>

      </p>
    </div>

  </tr>
  <input type="text" placeholder="Update your to-do list" [(ngModel)]="newTask" />
  <button class="addbutton" (click)="addTask()"> Add </button>
</div>





<!-- 

<div *ngFor="let item of toDoList;let index = index;">{{item.task}}   {{item.completed}}
    <button (click)="completeTask(index)">mark complete</button>
    <button (click)="delete(index)">delete</button>
    <button (click)="edit(index)">edit</button>
</div>
 -->